<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961411800758-ej748bomph4m9t4o5l2lgcia919j5phd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961411800758-ej748bomph4m9t4o5l2lgcia919j5phd</string>
	<key>API_KEY</key>
	<string>AIzaSyAuEVmRUkZAJNR_NWpAVSn1K1iV2EfKfKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>961411800758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saham01App</string>
	<key>PROJECT_ID</key>
	<string>prototype-saham</string>
	<key>STORAGE_BUCKET</key>
	<string>prototype-saham.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961411800758:ios:ed11b782d8289f8f449017</string>
</dict>
</plist>